<!--url's used in the movie-->
<a href="http://localhost:3000/login"></a>
<a href="http://localhost:3000/register"></a>
<a href="http://localhost:3000/learn"></a>
<a href="contact"></a>
<!--text used in the movie-->
<!-- saved from url=(0013)about:internet -->
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="540" height="396" id="giftmylist2" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="giftmylist2.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" /><embed src="giftmylist2.swf" quality="high" bgcolor="#ffffff" width="540" height="396" name="giftmylist2" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
